@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    background-color: lightblue;
}
.popup{
    position: absolute;
    top:-25%;
    left: 50%;
    background-color: white;
    border-radius: 10px;
    width: 500px;
    padding: 13px 20px;
    border-top: red 3px solid;
    transform: translate(-50%);
    display: flex;
    box-shadow: 0 10px 25px black;
    visibility: hidden;
    transition: all 0.25s ease;
}
.popup.show{ 
    top: 0;
    visibility:visible;

}
.popup.online{
    border-color: green;
}
.popup.online .icon i{
    background-color: green;
}
.popup .icon i{
    background-color: red;
    width: 40px;
    height: 40px;
    color: white;
    font-size: 20px;
    margin-right: 15px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.popup .title{
    font-size: 25px;
}
.popup .desc{
    color: gray;
    font-size: 15px;
    margin: 5px 0 10px;
}
.popup .reconnect{
    border: none;
    outline: none;
    background-color: rgba(0, 0, 255, 0.675);
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}
.popup.online .reconnect{
    background-color: gray;
    pointer-events: none;
}
@media (max-width:550px) {
    .popup{
        width: 100%;
        padding: 10px 15px 17px;
    }
}
